.main-chat
  .main-chat__header
    .left-box
      .talk-name
        = "#{@karte.gest.nickname}とのtalk"
      .member-list
        %p Member:
        -# - @group.users.each do |user|
        -#   = user.name 
  
        -# = link_to edit_group_path(@group) do

    .edit-btn
      Edit

  .main-chat__messages
    -# = render @message
    .decoration
    - if @messages
      - @messages.each do |message|
        .main-chat__messages__message
          .data
            .talker
              - if message.host_id != nil
                = message.host.nickname
              - if message.cast_id != nil
                = message.cast.nickname
              - if message.gest_id != nil
                = message.gest.nickname

            .time
              = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
          .content
            = message.content

  .form
    = form_with(model: [@karte, @message], local: true) do |f|
      .new_message
        .input-box
          = f.text_field :content, class: 'input-box__message', placeholder: 'type a message' 
          .input-box__image
            = f.label :image, class: 'image' do
              = icon('fas', 'image' ,class: 'icon')
              = f.file_field :image, class: 'images'
        = f.submit 'send', class: 'send-btn'
    